body {
    font-family: 'Noto Sans';
    height: 100%;
}

  .ml-10{
    margin-left:10px
  }
  .mr-10{
    margin-right: 10px;
  }
  .ml-15{
    margin-left:15px
  }
  .mr-15{
    margin-right: 15px;
  }
  .ml-25{
    margin-left:25px
  }
  .mr-25{
    margin-right: 25px;
  }
  
  .mr-35{
    margin-right: 35px;
  }
  .pr-3{
    margin-right:30px
  }

